[submodule "ThirdParty/LBFGSpp"]
	path = ThirdParty/LBFGSpp
	url = https://github.com/yixuan/LBFGSpp
[submodule "ThirdParty/libigl"]
	path = ThirdParty/libigl
	url = https://github.com/libigl/libigl.git
[submodule "build/ThirdParty/spectra"]
	path = build/ThirdParty/spectra
	url = https://github.com/yixuan/spectra.git
[submodule "ThirdParty/Spectra"]
	path = ThirdParty/Spectra
	url = https://github.com/yixuan/spectra.git
[submodule "ThirdParty/json"]
	path = ThirdParty/json
	url = https://github.com/nlohmann/json
[submodule "ThirdParty/suitesparse"]
	path = ThirdParty/suitesparse
	url = https://github.com/jluttine/suitesparse.git
